@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}
html{
	font-size:16px;
}

body {
	display:flex;
	justify-content:center;
	align-items:center;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size:1em;
	width:100%;
}

.container{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:row wrap;
	max-width: 1200px;
	width:100%;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
}

h2 {
    font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

header {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:row wrap;
	Width:90%;
}

header h1 {
	display:flex;
	justify-content:center;
	width:100%;
}

header h1 span {
	padding-right:10px;
	color: #77a466;
}

header nav {
	border-top: 3px solid #77a466;
	padding: 46px 0;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:row wrap;
}

header nav ul {
	margin: 0;
	padding-left:0px;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 5px 0 5px 0;
	text-align:center;
	list-style: none;
	width:100%;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
	display:inline-flex;
	width:100%;
	justify-content:center;
}	

.top-section,
.bottom-section {
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow: row wrap;
	width:90%;
}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border: 3px solid #77a466;
}

.main-title {
	height: auto;
	width:100%;
}

.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}

.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	display:flex;
	justify-content:flex-start;
	align-items:center;
	flex-flow:row wrap;
	width: 100%;
	height: auto;
	border-top: 1px solid #eee;
}

.menu {
	padding: 0;
}

.menu li {
	list-style: none;
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
	width:100%;
}

footer {
	border-top: 3px solid #eee;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em;
}


/**********************************
******** Tablet Styles*************
**********************************/

@media all and (min-width:768px){

	.bottom-section	{
	display:flex;
	flex-flow:row wrap;
	align-items:baseline;
	}

	.section-one,
	.section-two,
	.section-three	{
		display:flex;
		justify-content: flex-start;
		align-items:baseline;
		flex-flow:row wrap;
		width:30%;
	}
	
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding-left:3%;
		padding-right:3%;
	}

	.section-three	{
		padding-left:3%;
	}

	.menu {
		list-style: none;
		padding: 0;
		width:90%;
	}

	.menu li {
		padding: 10px 0;
		color:#77a466;
		width:100%;
	}
}

/**********************************
******** Desktop Styles************
**********************************/

@media all and (min-width:1200px){

	header	{
		justify-content:center;
		align-items:center;
		flex-flow:row;
		width:90%;
	}

	header nav {
		display:flex;
		width:50%;
		border:none;
		justify-content:flex-end;
	}

	header nav ul {
		display: flex;
		flex-flow:row;
	}

	header nav ul li	{
		padding: 5px 0 5px 10px;
	}  

	header h1 {
		  justify-content:flex-start;
		  width:50%;
		
	}

}